.nav {
  height: 90%;
  margin-top: 2em;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 15%;
  background-color: rgba(141,180,252,60%);
  border: 2px solid var(--border-color);
  border-left: none;
  border-radius: 0 2em 2em 0;
}

.nav a {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.nav a:hover{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  transform: scale(1.2);
}
