@import url("header.css");
@import url("button.css");
@import url("index.css");
@import url("menu.css");
@import url("navuser.css");
@import url("aside.css");

@import url("footer.css");

:root {
  --border-color: rgb(78, 126, 222);
  --background-white: white;
  --text-blue: navy;
  --background-blue:navy;
  --text-white: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: calc(100% - 66px);
  flex:1;
}

h2 {
  background-color: rgb(120, 169, 206);
  border-radius: 20px;
  padding: 10px;
}

.attention {
  color: red;
}
.conteneur {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.dashcenter {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.section {
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 50%;
}


.errmess {
  color:red;
  font-weight: bold;
}

label {
  font-weight: 700;
}

td {
  border-bottom: 1px navy solid;
  padding: 10px;
}

.user-connected {
  margin-left: 2em;
  text-align: center;
  background-color: rgba(141,180,252,90%);
  color:rgb(255, 255, 255);
}

.form-contnair {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.form-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
