@import url("header.css");
@import url("button.css");
@import url("index.css");
@import url("menu.css");
@import url("navuser.css");
@import url("aside.css");
@import url("user-connected.css");
@import url("table.css");
@import url("form.css");
@import url("footer.css");

:root {
  /* Background */
  --background-white: white;
  --background-light-blue: rgba(148,212,245,60%);
  --background-blue:navy;
  /* Text */
  --text-white: white;
  --text-blue: navy;
  /* Border */
  --border-color: rgb(78, 126, 222);
  /* Button */
  --button-green: darkgreen;
  --button-light-green : green;
  --button-orange: darkorange;
  --button-light-orange: orange;
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin-bottom: 1em;
  flex:1;
}

h2 {
  color: var(--text-blue);
  border: 4px solid var(--border-color);
  border-radius: 1em;
  padding: 0.5em;
  text-transform: uppercase;
}

/* ! Message d'erreur */
.attention {
  color: red;
}

.errmess {
  color:red;
  font-weight: bold;
}

/* ? Layout central */
.conteneur {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 15%;
}

.dashcenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashcenter-header {
  border: 5px solid orangered;
}

.section {
  margin: 0 2em;
  margin-top: 1em;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

.affichage {
  border: none;
}

