@import url("header.css");
@import url("button.css");
@import url("index.css");

@import url("footer.css");

:root {
  --border-color: rgb(78, 126, 222);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: calc(100% - 66px);
  flex:1;
}

h2 {
  background-color: rgb(120, 169, 206);
  border-radius: 20px;
  padding: 10px;
}

.attention {
  color: red;
}
.conteneur {
  display: flex;
  flex-direction: row;
}

.dashcenter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  background-color: rgba(141,180,252,60%);
  border-right: darkgray 2px dashed;
}

.nav a {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}

.navuser{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(141,180,252,90%);
  border-bottom: darkgray 2px dashed;
  padding: 20px;
}

.navuser a{
  color: white;
  background-color: dimgray;
  padding: 10px;
  border-radius: 20px 20px;
  border-color: black;
  font-weight: bold;
}

.section {
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 50%;
}

.aside {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  background-color: rgba(141,180,252,60%);
  border-left: darkgray 2px dashed;
}

.errmess {
  color:red;
  font-weight: bold;
}

label {
  font-weight: 700;
}

td {
  border-bottom: 1px navy solid;
  padding: 10px;
}

.user-connected {
  text-align: center;
  background-color: rgba(141,180,252,90%);
  color:rgb(255, 255, 255);
}

.form-contnair {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.form-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
