/* Table */
.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  width: 100%;
}

.table th, .table td {
  border-bottom: 2px solid var(--text-blue);
  padding: 1em;
  text-align: center;
  font-weight: 700;
  transition: padding 0.3s ease, background-color 0.2s ease;
}

.table th {
  color: var(--text-blue);
  background-color: var(--background-white);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--background-light-blue);
}
.table tbody tr:hover td {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}