/* Table */
.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  width: 100%;
}
.table th, .table td {
  border: 2px solid;
  border-color: #c0c0c0;
  padding: 0.5rem;
  text-align: center;
  transition: padding 0.3s ease, background-color 0.2s ease;
}
.table th {
  color: #f1f8fc;
  background-color: #384050;
}

.table th a {
  color: #f1f8fc;
}
.table tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}
.table tbody tr:hover td {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}